<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Greeting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Radiologie-Institut</h1>
    <p>Datum: <span th:text="${today}"></span></p>
    
    <div class="list-group">
        <a href="/patient/add" class="list-group-item">Patient registrieren</a>
        <a href="/patient/list" class="list-group-item">Patientenliste anzeigen</a>
        <a href="/reservation/add" class="list-group-item">Reservierung erfassen</a>
        <a href="/reservation/select-device" class="list-group-item">Reservierungsliste für ein Gerät anzeigen</a>
    </div>
</div>
</body>
</html>