<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservierungsliste</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 th:text="'Reservierungen für ' + ${device.type} + ' (' + ${device.id} + ')'"></h1>
    <p th:text="'Standort: Raum ' + ${device.location}"></p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Zeit</th>
                <th>Patient</th>
                <th>Region</th>
                <th>Kommentar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="r : ${reservations}">
                <td th:text="${#temporals.format(r.reservationTime, 'dd.MM.yyyy HH:mm')}"></td>
                <td th:text="${r.patient.firstName + ' ' + r.patient.lastName}"></td>
                <td th:text="${r.bodyRegion}"></td>
                <td th:text="${r.comment}"></td>
            </tr>
        </tbody>
    </table>
    
    <p>
        <a href="/reservation/select-device" class="btn btn-primary">Anderes Gerät auswählen</a>
        <a href="/" class="btn btn-default">Zurück zum Menü</a>
    </p>
</div>
</body>
</html>
